/*Eliminamos los márgenes que pueda tener el navegador*/
body{
    box-sizing: inherit;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*HEADER*/

.contHeader{    /*Contenedor del header*/
    width: 100%;
    height: 5em;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.163), rgba(0, 0, 0, 0.905) 15px);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: large;
    z-index: 1;
}
    /*Contenedor del logo*/
    .contLogo{      
        height: 5em;
        margin: auto 0 auto 5em;
        display: flex;
        align-items: center;
        transition-duration: 1s;
    }
        /*Características del logo*/
        .logo{          
            height: 4em;
            margin: auto;
            transition-duration: 600ms;
        }
        /*Características del logo al posicionarse con el mouse*/
        .logo:hover{          
            height: 5em;
            transition-duration: 600ms;
        }
    /*Características del contenedor del logo al posicionarse con el mouse*/
    .contLogo:hover{      
        background: linear-gradient(to top, rgba(255, 0, 0, 0.476), rgba(0, 0, 0, 0.947) 15px);
        transition-duration: 1s;
    }
    /*Contenedor del menu y opciones de lenguaje*/
    .menu{          
        height: 4.2em;
        margin: auto 3em auto auto;
        display: flex;
        align-items: center;
    }
        /*Contenedor de la lista*/
        .listaMenu{     
            display: flex;
            padding-left: 0;
        }
            /*Características de las opciones de la lista*/
            .opcMenu{
                height: 5em;   
                display: flex;
                align-items: center;
                margin: auto;        
                list-style: none;
                padding: 0 0.8em;
                color: white;
                transition-duration: 1s;
            }
            /*Características de las opciones de la lista
             al posicionarse con el mouse*/
             .opcMenu:hover{ 
                height: 5em;
                background: linear-gradient(to top, rgba(255, 0, 0, 0.476), rgba(0, 0, 0, 0.947) 15px);
                color: rgb(255, 60, 60);
                cursor: pointer;
                transition-duration: 1s;
            }
        /*Opción de idiomas*/
        .lengOpc{
            margin-left: 0.2em;
            width: 6em;
            height: 3em;
            border-width: 0;
            border-radius: 1em;
            border-style: none;
            background-color: rgba(255, 255, 255, 0.481);
            display: flex;
            padding-left: 0.5em;
            transition-duration: 1s;
        }
        /*Opción de idiomas al posicionarse con el mouse*/
        .lengOpc:hover{
            background-color: rgba(244, 172, 172, 0.806);
            cursor: pointer;
            transition-duration: 1s;
        }
        /*Características de los iconos del header*/
        .tamIcoHeader{  
            height: 2em;
            margin: auto;
        }
        /*Características al seleccionar un idioma*/
        .contIdiomas{
            width: 4.4em;
            height: 3.4em;
            border-radius: 0.2em;
            background-color: rgba(244, 172, 172, 0.806);
            position: absolute;
            right: 3em;
            top: 3.6em;
            transition-duration: 1s;
        }
            /*Botones de idiomas*/
            .btnIdioma{
                width: 100%;
                height: 2.4em;
                border-style: none;
                border-radius: 0.2em;
                display: flex;
                align-items: center;
                background-color: transparent;
                transition-duration: 1s;
            }
                /*Características de las imágenes del contenedor de idiomas*/
                .imgSelecIdioma{
                    width: 1.2em;
                    margin-left: 0.2em;
                }
                /*Características de la descripción de idioma*/
                .idioma{
                    font-size: smaller;
                    font-weight: bold;
                }
            /*Botones de idiomas al pasar el mouse*/
            .btnIdioma:hover{
                background: linear-gradient(to top, rgba(255, 0, 0, 0.476), rgba(0, 0, 0, 0.947) 15px);
                color: white;
                cursor: pointer;
                transition-duration: 500ms;
            }
        /*Contenedor de botones para menú desplegable*/
        .contMenuDesp{
            display: none;
        }
        /*Sección de presentación principal*/
        .contPrinc{
            position: inherit;
            height: 100vh;
            display: flex;
            background-image: url(01-portPrin.svg);
            background-repeat: no-repeat;
            background-size: cover;
            bottom: 0;
        }
            /*Contenedor principal*/
            .contAnunPrin{
                width: 120vh;
                height: 65vh;
                border-radius: 2em;
                border-style: none;
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.786);
            }
                /*Sección de presentación*/
                .descPrinc{
                    width: 60vh;
                    height: 48vh;
                    margin: 5vh 0.2em auto auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;  
                }
                    /*Descripción principal*/
                    .descPagPrin{
                        text-align: center;
                        font-size: 4vh;
                        font-weight: bolder;
                        color: white;
                        margin: auto;
                    }
                    /*Boton comenzar*/
                    .btn{
                        width: 20vh;
                        height: 6vh;
                        background-color: rgb(107, 5, 5);
                        border: 5px solid white;
                        border-radius: 1vh;
                        margin: auto;
                        font-size: 2vh;
                        font-weight: bolder;
                        color: rgb(255, 255, 255);
                    }
                    /*Boton "comenzar" al pasar el mosuse*/
                    .btn:hover{
                        cursor: pointer;
                    }
                /*Sección del carrusel de imágenes*/
                .contCarousel{
                    width: 50vh;
                    height: 55vh;
                    background-color: rgba(129, 11, 11, 0.646);
                    border-radius: 1em;
                    border-style: none;
                    margin: auto auto auto 0.2em;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;            
                }
                    /*Icono de la imagen a presentar*/
                    .slider{
                        width: 40vh;
                        height: 40vh;
                        padding: 0;
                        background-color: rgba(220, 133, 20, 0.652);
                        border-radius: 1em;
                        border-style: solid;
                        border-width: 1vh;
                        border-color: white;
                        margin: auto auto -10px auto;
                        position: relative;
                        list-style: none;
                    }
                        /*Contenerdor de la imagen*/
                        .opcCarousel{
                            position: absolute;
                            opacity: 0;
                            width: inherit;
                            height: inherit;
                            transition-duration: 1s;
                        }
                            /*Características de las imágenes*/
                            .caracImgCarousel{
                                width: 100%;
                                height: 40vh;
                                object-fit: cover;
                            }
                        /*Opacidad en la imágenes*/
                        .opcCarousel:target{
                            opacity: 1;
                        }
                    /*Botones para seleccionar las imágenes*/
                    .selecOpcCarousel{
                        text-align: center;
                        margin: auto;
                        padding: 0;
                    }
                        /*Características del alineado de los botones*/
                        .caracOpcCarousel{
                            display: inline-block;
                            text-align: center;
                        }
                            /*Características de los botones*/
                            .caracBtn{
                                width: 0.1vh;
                                height: 0.1vh;
                                display: inline-block;
                                background-color: rgba(251, 1, 1, 0.89);
                                padding: 1vh;
                                border-radius: 100%;
                                border-color: white;
                                border-style: solid;
                                border-width: 1px;
                            }
                            /*Características de los botones al pasar el mouse*/
                            .caracBtn:hover{
                                background-color: rgba(170, 0, 0, 0.934);
                                width: 0.2vh;
                                height: 0.2vh;
                                padding: 1vh;
                            }
    /*SECCIÓN DE NUEVOS PRODUCTOS*/
    .contProd{
        position: inherit;  
        height: 70vh;
        background-image: url(02-portPrin.svg);
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(80%);
        border-style: solid;
        border-color: white;
        border-width: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        /*Características del triángulo*/
        .triangulo{
            margin: auto;
            border-right: 35vh solid transparent;
            border-left: 0vh solid transparent;
            border-top: 35vh solid rgb(206, 0, 0);
            position: absolute;
            top: 0;
            left: 0;
        }
            /*ANUNCIO DE NUEVOS PRODUCTOS*/
            .caracAviso{
                position: absolute;
                rotate: -45deg;
                color: white;
                font-weight: bold;
                font-size: 2.2em;
                text-align: center;
                top: -8em;
                left: -3vh; 
            }
        /*Contenedor de la primer descripción*/
        .descripProd{
            width: 60%;
            height: 15%;
            background-color: rgba(255, 255, 255, 0.836);
            position: absolute;
            top: 4vh;
            text-align: center;
            border-radius: 1em;
            font-weight: bolder;
        }
            /*Titulo de la primer descripción*/
            .titlePro{
                word-spacing: 10px;
                letter-spacing: 2px;
                font-size: 2em;
                line-height: 0;
            }
                /*Descripción*/
                .descrProd{
                    letter-spacing: 2px;
                    font-size: 1.4em;
                    line-height: 0;
                    color: rgb(1, 77, 1);
                }
        /*Contenedor del slider*/
        .contSliderProd{
            width: 70%;
            height: 40%;
            display: flex;
            align-items: center;    
            position: absolute;
        }
            /*Boton Izquierdo*/
            .triangIzq{
                border-bottom: 5vh solid transparent;
                border-top: 5vh solid transparent;
                border-right: 7vh solid rgb(0, 221, 255);
                margin: auto;
            }
            /*Boton Izquierdo al pasar el mouse*/
            .triangIzq:hover{
                border-bottom: 7vh solid transparent;
                border-top: 7vh solid transparent;
                border-right: 10vh solid rgb(0, 255, 217);
                cursor: pointer;
            }
            /*Características de los marcos de las imágenes*/
            .icoImgProd{
                width: 30vh;
                height: 30vh;
                background-color: rgba(255, 255, 255, 0.789);
                margin: 5px;
                border-color: white;
                border-style: solid;
                border-radius: 1em;
                display: flex;
            }
                /*Características de las imáges del slider*/
                .imgTamProd{
                    height: 26vh;
                    filter: brightness(130%);
                    filter: contrast(130%);
                    margin: auto;
                    object-fit: cover;
                }
            /*Boton derecho*/
            .triangDer{
                border-bottom: 5vh solid transparent;
                border-top: 5vh solid transparent;
                border-left: 7vh solid rgb(0, 221, 255);
                margin: auto;
            }
             /*Boton derecho al pasar el mouse*/
            .triangDer:hover{
                border-bottom: 7vh solid transparent;
                border-top: 7vh solid transparent;
                border-left: 10vh solid rgb(0, 255, 217);
                cursor: pointer;
            }
        /*Contenedor de la segunda descripción*/
        .contDescDos{
            width: 60%;
            height: 15%;
            background-color: rgba(255, 255, 255, 0.849);
            position: absolute;
            bottom: 3em;
            display: flex;
            text-align: center;
            border-radius: 1em;
            border-style: none;
        }
            /*Características del texto*/
            .descDos{
                font-size: 1.4em;
                font-weight: bolder;
                margin: auto;
            }