/*Eliminamos los márgenes que pueda tener el navegador*/
body{
    box-sizing: inherit;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*HEADER*/

.contHeader{    /*Contenedor del header*/
    width: 100%;
    height: 3em;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.163), rgba(0, 0, 0, 0.905) 15px);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: large;
    z-index: 2;
}
    /*Contenedor del logo*/
    .contLogo{      
        height: 3em;
        margin: auto 0 auto 1.5em;
        display: flex;
        align-items: center;
        transition-duration: 1s;
    }
        /*Características del logo*/
        .logo{          
            height: 2.6em;
            margin: auto;
            transition-duration: 600ms;
        }
    /*Características del contenedor del logo al posicionarse con el mouse*/
    .contLogo:hover{      
        background: linear-gradient(to bottom, rgba(255, 0, 0, 0.476), rgba(0, 0, 0, 0.947) 2em);
        transition-duration: 1s;
    }
    /*Contenedor del menu y opciones de lenguaje*/
    .menu{   
        width: 100%;      
        height: 13em;
        padding: 0;
        background: linear-gradient(to bottom, rgba(255, 0, 0, 0.476), rgba(0, 0, 0, 0.947) 1em);
        position: absolute;
        bottom: 3em;
        display: flex;
        flex-direction: column;
    }
        /*Contenedor de la lista*/
        .listaMenu{     
            display: flex;
            flex-direction: column;
            padding-left: 0;
        }
            /*Características de las opciones de la lista*/
            .opcMenu{
                height: 2em;   
                display: flex;
                justify-content: center;
                align-items: center;        
                list-style: none;
                padding: 0 0.8em;
                color: white;
                transition-duration: 1s;
            }
            /*Activar separador en desktop y desactivar en Mobile*/
            .mobDesk{
                display: none;
            }
            /*Características de las opciones de la lista
             al posicionarse con el mouse*/
             .opcMenu:hover{ 
                height: 2em;
                background: linear-gradient(to top, rgba(255, 0, 0, 0.476), rgba(0, 0, 0, 0.947) 15px);
                color: rgb(255, 60, 60);
                cursor: pointer;
                transition-duration: 1s;
            }
        /*Opción de idiomas*/
        .lengOpc{
            width: 6em;
            height: 3em;
            border-width: 0;
            border-radius: 1em;
            border-style: none;
            background-color: rgba(255, 255, 255, 0.481);
            display: flex;
            padding-left: 0.5em;
            transition-duration: 1s;
            margin: auto;
        }
        /*Opción de idiomas al posicionarse con el mouse*/
        .lengOpc:hover{
            background-color: rgba(244, 172, 172, 0.806);
            cursor: pointer;
            transition-duration: 1s;
        }
        /*Características de los iconos del header*/
        .tamIcoHeader{  
            height: 2em;
            margin: auto;
        }
        /*Voltear la flecha de opciones de idioma*/
        .slcIdiomaMobile{
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        /*Características al seleccionar un idioma*/
        .contIdiomas{
            width: 9em;
            height: 4.8em;
            border-radius: 0.2em;
            background-color: rgba(244, 172, 172, 0.806);
            margin: auto;
            position: relative;
            bottom: 4.6em;
            transition-duration: 1s;
        }
            /*Botones de idiomas*/
            .btnIdioma{
                width: 100%;
                height: 50%;
                border-style: none;
                border-radius: 0.2em;
                display: flex;
                align-items: center;
                background-color: transparent;
                transition-duration: 1s;
            }
                /*Características de las imágenes del contenedor de idiomas*/
                .imgSelecIdioma{
                    width: 2em;
                    margin-left: 0.2em;
                }
                /*Características de la descripción de idioma*/
                .idioma{
                    font-size: medium;
                    font-weight: bold;
                }
            /*Botones de idiomas al pasar el mouse*/
            .btnIdioma:hover{
                background: linear-gradient(to top, rgba(255, 0, 0, 0.476), rgba(0, 0, 0, 0.947) 15px);
                color: white;
                cursor: pointer;
                transition-duration: 500ms;
            }
        /*Contenedor de botones para menú desplegable*/
        .contMenuDesp{
            height: 3em;
            margin: auto 1.5em auto auto;
            display: flex;
            transition-duration: 500ms;
        }
            /*Características de botones para menú desplegable*/
            .btnMenu{
                height: 3em;
                margin: auto 0.5em;
                transition-duration: 1s;
            }
            /*Características de botones para menú desplegable al posicionarse con el mouse*/
            .btnMenu:hover{
                background: linear-gradient(to bottom, rgba(255, 0, 0, 0.476), rgba(0, 0, 0, 0.947) 2em);
                transition-duration: 500ms; 
                cursor: pointer;
            }
    /*Sección de presentación principal*/
    .contPrinc{
        width: 100%;
        height: 68rem;
        display: flex;
        background-image: url(01-portPrin.svg);
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
    }
        /*Contenedor principal*/
        .contAnunPrin{
            width: 95%;
            height: 95%;
            border-radius: 2em;
            border-style: none;
            margin: auto;
            background-color: rgba(0, 0, 0, 0.786);
            display: grid;
            grid-row: 40% 60%;
        }
            /*Sección de presentación*/
            .descPrinc{
                width: 98%;
                height: 28rem;
                margin: 20px auto 0 auto;
                display: flex;
                flex-direction: column;
            }
                /*Descripción principal*/
                .descPagPrin{
                    width: 90%;
                    height: 80%;
                    margin: 10% auto 0 auto;
                    text-align: center;
                    font-size: 2rem;
                    font-weight: bolder;
                    color: white;
                }
                /*Boton comenzar*/
                .btn{
                    width: 15rem;
                    height: 3rem;
                    background-color: rgb(107, 5, 5);
                    border: 5px solid white;
                    border-radius: 1vh;
                    margin: auto;
                    font-size: 2vh;
                    font-weight: bolder;
                    color: rgb(255, 255, 255);
                }
                /*Boton "comenzar" al pasar el mosuse*/
                .btn:hover{
                    cursor: pointer;
                    background-color: rgb(162, 75, 75);
                }
            /*Sección del carrusel de imágenes*/
            .contCarousel{
                width: 90%;
                height: 34rem;
                background-color: rgba(129, 11, 11, 0.646);
                border-radius: 1em;
                border-style: none;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;            
            }
                /*Icono de la imagen a presentar*/
                .slider{
                    width: 80%;
                    height: 80%;
                    padding: 0;
                    background-color: rgba(220, 133, 20, 0.652);
                    border-radius: 1em;
                    border-style: solid;
                    border-width: 1vh;
                    border-color: white;
                    margin: auto;
                    position: relative;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                    /*Contenerdor de la imagen*/
                    .opcCarousel{
                        opacity: 0;
                        width: 90%;
                        height: 90%;
                        transition-duration: 1s;
                        position: absolute;
                        margin: auto;
                    }
                        /*Características de las imágenes*/
                        .caracImgCarousel{
                            width: 100%;
                            height: 100%;
                            margin: auto;
                        }
                    /*Opacidad en la imágenes*/
                    .opcCarousel:target{
                        opacity: 1;
                    }
                /*Botones para seleccionar las imágenes*/
                .selecOpcCarousel{
                    text-align: center;
                    margin: auto;
                    padding: 0;
                    z-index: 1;
                }
                    /*Características del alineado de los botones*/
                    .caracOpcCarousel{
                        display: inline-block;
                        text-align: center;
                    }
                        /*Características de los botones*/
                        .caracBtn{
                            width: 0.1vh;
                            height: 0.1vh;
                            display: inline-block;
                            background-color: rgba(251, 1, 1, 0.89);
                            padding: 1vh;
                            border-radius: 100%;
                            border-color: white;
                            border-style: solid;
                            border-width: 1px;
                        }
                        /*Características de los botones al pasar el mouse*/
                        .caracBtn:hover{
                            background-color: rgba(170, 0, 0, 0.934);
                            border-color: greenyellow;
                        }
    /*SECCIÓN DE NUEVOS PRODUCTOS*/
    .contProd{
        position: relative;  
        width: 100%-10px;
        height: 60em;
        background-image: url(02-portPrin.svg);
        background-repeat: no-repeat;
        background-size: cover;
        filter: opacity(80%);
        border: 10px solid rgb(206, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
        /*Características del triángulo*/
        .triangulo{
            width: 100%;
            height: 12%;
            margin: auto;
            background-color: rgb(206, 0, 0);
            position: absolute;
            top: 0;
            left: 0;
        }
            /*ANUNCIO DE NUEVOS PRODUCTOS*/
            .caracAviso{
                color: white;
                font-weight: bold;
                font-size: 40px;
                text-align: center;
                margin: auto;
            }
        /*Contenedor de la primer descripción*/
        .descripProd{
            width: 95%;
            height: 18%;
            background-color: rgba(255, 255, 255, 0.836);
            position: absolute;
            top: 8rem;
            border-radius: 1em;
            font-weight: bolder;

        }
            /*Titulo de la primer descripción*/
            .titlePro{
                width: 100%;
                height: 45%;
                font-size: 2em;
                margin: auto;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            /*Descripción*/
            .descrProd{
                width: 100%;
                height: 45%;
                bottom: 0;
                font-size: 1.4em;
                color: rgb(1, 77, 1);
                text-align: center;
            }
        /*Contenedor del slider*/
        .contSliderProd{
            width: 98%;
            height: 40%;
            margin: 5rem  auto auto auto;
            display: flex;
            align-items: center;   
            justify-content: center; 
            position: absolute;
            background-color: aliceblue;
        }
            /*Boton Izquierdo*/
            .triangIzq{
                position: absolute;
                left: 2%;
                border-bottom: 2em solid transparent;
                border-top: 2em solid transparent;
                border-right: 4em solid rgb(0, 221, 255);
                margin: auto;
            }
            /*Boton Izquierdo al pasar el mouse*/
            .triangIzq:hover{
                border-bottom: 3em solid transparent;
                border-top: 3em solid transparent;
                border-right: 5em solid rgb(0, 255, 217);
                cursor: pointer;
            }
            /*Características de los marcos de las imágenes*/
            .icoImgProd{
                width: 60%;
                height: 90%;
                margin: auto;
                background-color: rgb(0, 0, 0);
                border-color: white;
                border-style: solid;
                border-radius: 1.2em;
                position: absolute;
                z-index: 1;
            }
                /*Características de las imáges del slider*/
                .imgTamProd{
                    width: 100%;
                    height: 100%;
                    filter: brightness(130%);
                    filter: contrast(130%);
                    border-radius: 1em;
                    object-fit: cover;
                }
            /*Boton derecho*/
            .triangDer{
                position: absolute;
                right: 2%;
                border-bottom: 2em solid transparent;
                border-top: 2em solid transparent;
                border-left: 4em solid rgb(0, 221, 255);
                margin: auto;
            }
             /*Boton derecho al pasar el mouse*/
            .triangDer:hover{
                border-bottom: 3em solid transparent;
                border-top: 3em solid transparent;
                border-left: 5em solid rgb(0, 255, 217);
                cursor: pointer;
            }
        /*Contenedor de la segunda descripción*/
        .contDescDos{
            width: 60%;
            height: 15%;
            background-color: rgba(255, 255, 255, 0.849);
            position: absolute;
            bottom: 3em;
            display: flex;
            text-align: center;
            border-radius: 1em;
            border-style: none;
        }
            /*Características del texto*/
            .descDos{
                font-size: 1.4em;
                font-weight: bolder;
                margin: auto;
            }
     /*SECCIÓN DE SERVICIOS*/
     .contServicios{  
        width: 100%;
        height: 90em;
        background: url(03-portPrin.svg) no-repeat center center;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        display: flex;
        flex-direction: column;
    }
        /*titulo de la sección de servicios*/
        .contTituloServicios{
            width: 85%;
            height: 8rem;
            background-color: rgba(255, 255, 255, 0.834);
            border-radius: 1rem;
            margin: 20px auto 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            /*Titulo*/
            .tituloServicios{
                text-align: center;
                font-size: 300%;
                font-weight: bolder;
            }
        /*Contenedor del slider de servicios*/
        .contSliderServicios{
            width: 90%;
            height: 50%;
            margin: 15px auto auto auto;
        }
            /*Contenedor de los servicios*/
            .contArtServ{
                width: 95%;
                height: 55%;
                background-color: rgba(255, 255, 255, 0.749);
                border: 0.5rem solid white;
                border-radius: 1rem;
                margin: auto auto 10px auto;
                display: grid;
                grid-row: 30% 30% 30%;
            }
                /*titulo del sevicio*/
                .titleArtServ{
                    width: 85%;
                    height: 2.2rem;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-weight: bolder;
                    font-size: 2rem;
                }
                /*Descripción breve del servio*/
                .descArtSer{
                    width: 98%;
                    height: 15rem;
                    font-weight: bolder;
                    font-size: 1.4rem;
                    margin: 5px auto;
                }
                /*Boton conocer más*/
                .btnArtServ{
                    width: 85%;
                    height: 80%;
                    background-color: black;
                    border-radius: 1rem;
                    border-style: none;
                    margin: auto;
                    color: white;
                    font-weight: bolder;
                    font-size: 1.8rem;
                }
                /*Boton conocer más al pasar el mouse*/
                .btnArtServ:hover{
                    background-color: rgba(0, 0, 0, 0.387);
                    cursor: pointer;
                }
                /*Color del triángulo izquierdo*/
                .colorTriangIzq{
                    display: none;
                }
                /*Color del triángulo derecho*/
                .colorTriangDer{
                    display: none;
                }
        /*SECCIÓN DE CLIENTES*/
    /*Contenedor de la portada principal*/
    .contCliente{
        width: 100%;
        height: 70rem;
        background: url(04-portPrin.svg) no-repeat center center;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        display: flex
    }
        /*Contenedor del contenido*/
        .contDescClientePrinc{
            width: 98%;
            height: 98%;
            margin: auto auto auto 1%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            /*Contenedor del titulo*/
            .contTituloCliente{
                width: 90%;
                height: 9%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 5px auto auto auto;
            }
                /*texto de titulo*/
                .tituloCliente{
                    font-size: 3rem;
                    font-weight: 800;
                    margin: auto;
                    -webkit-text-stroke: 2px white;
                }
            /*Contenedor de la descripción*/
            .contDescCliente{
                width: 90%;
                height: 58%;
                margin: auto;
            }
                /*descripción*/
                .descCliente{
                    font-size: 2rem;
                    font-weight: 800;
                    margin: auto;
                    -webkit-text-stroke: 1px white; 
                }
            /*Contenedor de mensaje*/
            .contEnviar{
                width: 95%;
                height: 5%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
                /*Características del input*/
                .ingresarCorreo{
                    width: 72%;
                    height: 65%;
                    font-size: 1rem;
                    border-width: 2px;
                    border-radius: 1rem;
                }
                /*Características del boton iniciemos ya*/
                .btnIniciemosYa{
                    width: 26%;
                    height: 70%;
                    background-color: black;
                    margin: auto;
                    border-width: 3px;
                    border-radius: 0.8rem;
                    border-color: rgb(143, 4, 4);
                    border-style: solid;
                    color: white;
                    font-weight: bolder;
                    font-size: 0.8rem;
                }
                /*Características del boton iniciemos ya al pasar el mouse*/
                .btnIniciemosYa:hover{
                    background-color: rgba(0, 0, 0, 0.474);
                    cursor: pointer;
                }
            /*Contenedor de whats*/
            .contWhats{
                width: 90%;
                height: 5%;
                margin: 0 auto auto auto;
            }
                /*Características del boton de whats*/
                .persoWhats{
                    -webkit-text-stroke: 0px;
                    color: black;
                    background-color: rgb(29, 244, 29);
                    border-color: rgb(29, 244, 29);
                }
                /*Características del boton de whats al pasar el mouse*/
                .persoWhats:hover{
                    background-color: rgb(255, 255, 255);
                    border-color: rgb(255, 255, 255);
                }